.sec1{
    position: relative;
    top:-100px;
}
.product-section{
    margin-top: -60px;
}
.product-section h1{
    font-family: 'Times New Roman', Times, serif;
    font-family: 600;
}
.product-section h1:hover{
    color:rgb(0, 84, 163)
}
.main .svg-fill-color-dark {
    fill: #0176a5 !important;
}

#t-h{
    color:black;
    font-size:18px;
    padding:10px;
    background-color: rgb(0, 110, 255);
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 5px 3px 5px -1px;
}
#ph1{
    font-family: 'Times New Roman', Times, serif;
    font-family: 600;
    margin-top: 100px;
    color: rgb(14, 60, 119);
    margin-bottom: 50px;
}
.ph1{
    font-family: 'Times New Roman', Times, serif;
    font-family: 600;
    margin-top: 20px;
    text-transform: none;
}
.p-grid{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-gap:50px;
}
@media(max-width:420px){
    
.r-img{
 width:250px !important;
 height:250px !important;
}

}
@media(max-width:991px){
    .p-grid{
        display:block;
    }
    }